
#iot{
  width:49vh;
  position: relative;
  left: 60vh;
}
h1{
  color: white;
}

#arduino{
  width:70vh;
  position: relative;
  left: -10vh;
}

#wifi{
  width:30vh;
}

#conclusion{
  display: flex;
  flex-direction: row;
  position: relative;
  left:40vh;
}

#wifi_{
  width: 30vh;
  margin-right: 7vh;
  position: relative;
  top:5vh;
}

.wifi{
  width: 30vh;
}

.conclusion{
  background-color: grey;
  font-size: large;
}

.con{
  color: black;
  font-weight: bold;
}

.youtube{
  width: 80vh;
  height: 60vh;
  margin: 5vh;
}

.ptube{
  position: relative;
  top:30vh;
  width:20vh;
}


.youTube{
  display: flex;
  flex-direction: row;
  position: relative;
  left: 30vh;
}



